*zip
*twitter-datasets*
*__pycache__*
*.*checkpoints*
*.vscode*
*activate*
*.idea/
venv

## ------------------------------
## DATA
matrices
train_matrix.npz
replaced_zero_embedding_test_matrix.npz
replaced_zero_embedding_train_matrix.npz
zero_embedding_full_train_matrix.npz
replaced_zero_embedding_full_train_matrix.npz
data/twitter-datasets/
## ------------------------------
## EMBEDDINGS
embeddings/glove.twitter.27B.zip
embeddings/glove.twitter.27B.200d.txt
embeddings/only_stanford.npz
embeddings/necessary_stanford.npz
data/uncased_L-12_H-768_A-12
## ------------------------------
## VOCABULARIES
vocabularies/stanford_vocab.pkl
vocabularies/full_vocab.pkl
vocabularies/full_vocab_in_stanford.pkl
## ------------------------------
## CLASSIFIERS
classifiers/Attention_GRU_5heads_full/
classifiers/Attention_GRU_5heads_full_et/
classifiers/Attention_GRU_5heads_conv_full/
classifiers/Attention_GRU_5heads_2/
classifiers/Attention_GRU_10heads_full/
classifiers/Attention_GRU_5heads_full2/
classifiers/convolution_3_pool
classifiers/Attention_GRU_5heads_penalized/
classifiers/GRU_128_conv/
classifiers/Attention_GRU_penalised_convolution/
classifiers/





## -----------------------------
## FLOYD STUFF
.floydexpt
.floydignore
floyd.yml
floyd_requirements.txt


